# Electron mirror is set via environment variable in CI workflows
# Do not set ELECTRON_MIRROR here as it causes electron-builder to auto-derive
# an incorrect binaries mirror path (cdn.npmmirror.com/binaries/electron/ instead of electron-builder-binaries/)
# See: https://github.com/electron-userland/electron-builder/issues/3954
